/* 헤더 */
#header{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  transition: all .3s;
  transform: translateY(-100%);
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #bbb;
  box-sizing: border-box;
}
#header.fixed {
  transform: translateY(0%);
}
header .h_wrap{
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:50px;
  box-sizing: border-box;
}
#header .m_inner{
  display: none;
}

/* 헤더 로고 */
header .logo{
  width: 14.5%;
}
header .logo a{
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: block;
  font:500 1.5rem var(--boldFont);
  color: var(--fontColor);
}

/* 헤더 메뉴바 */
header nav{
  width: 80%;
}
nav ul{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: right;
}
nav li{
  width: 100px;
  height: 50px;
  line-height: 50px;
}
nav li a{
  display: block;
  width: 100%;
  color: #888;
}
nav li a:hover{
  transition: all .5s;
  font-weight: 900;
  letter-spacing: 2px;
  color: var(--basicFont);
}



/* 메인 */
main{
  width: 100%;
}


/* home */
main .home{
  width: 100%;
  height: 100vh;
  background: url(./image/bg.jpg) no-repeat right/cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
main .home::after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient( to bottom, #ffffff00, #ffffff00, #ffffff00,  #fff );
}
.home .hello{
  width: 50%;
  position:absolute;
  top: 50%;
  left: 150px;
  z-index: 2;
  transform: translateY(-50%);
  font: 100 3rem/2em var(--boldFont);
}
.hello .title{
  display: flex;  
  flex-wrap: wrap;
}
.tit1 p{
  margin-right: 5px;
}
.tit2 p span{
  font: 100 5rem/1em var(--boldFont);
  margin-right: 15px;
}
.home .mscl{
  width: 80px;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.mscl .st0{fill:none;stroke:#000000;stroke-miterlimit:10; stroke-width: 3px;}
.mscl .st1{fill:none;stroke:#000000;stroke-linecap:round;stroke-miterlimit:10; stroke-width: 3px;}


/* about */
main .about{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 200px;
}
.about section{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
}
.about section .left{
  width: 35%;
  position: relative;
}
.left img{
  width: 100%;
  object-fit: cover;
}
.about section .right{
  width: 63%;
  position: relative;
}
.right .typing{
  font: 500 3rem var(--boldFont);
  margin-bottom: 50px;
}
.right .int {
  width: 100%;
  height: 100%;
  position: relative;
}
.right .int::after{
  content: '';
  display: block;
  margin-top: 15%;
}
.int p{
  width: 100%;
  font: 300 1.3rem/1.5em var(--basicFont);
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  color: var(--fontColor);
}
.int p:nth-of-type(3){
  margin-top: 50px;
}
.int .click{
  width: 150px;
  position: absolute;
  bottom: 0;
  padding-left: 40px;
  font-weight: 900;
  box-sizing: border-box;
  background: url(./image/plus.svg) no-repeat;
}


/* skill */
main .skill{
  width: 100%;
  margin-top: 300px;
}
.skill section{
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skill section .chart{
  width: 20%;
  position: relative;
  z-index: 10;
}
.chart canvas{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.8);
  box-sizing: border-box;
}
.chart p{ 
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chart span{
  text-transform: uppercase;
  font: 900 1.1rem/1em var(--basicFont);
}


/* works */
main .works{
  width: 100%;
  margin-top: 300px;
  padding-top: 150px;
  padding-bottom: 150px;
  box-sizing: border-box;
  background-color: var(--bgColor);
}
.works .cate{
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.cate a{
  display: block;
  margin-right: 50px;
  font: 700 1.3rem/3em var(--basicFont);
}
.cate a.active{
  font: 900 1.5rem/2.5em var(--basicFont);
  letter-spacing: 6px;
  transition: all .3s;
}
.works .menu_list{
  max-width: 1200px;
  margin: auto;
  display: flex;
  overflow: hidden;
}
.menu_list .worksMenu{
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
  justify-content: space-between;
}
.worksMenu .worksList{
  width: 32%;
  margin-bottom: 20px;
  overflow: hidden;
}
.worksMenu .worksList a{
  width: 100%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 20;
}
.worksMenu .worksList a img{
  width: 100%;
  object-fit: cover;
  border: 1px solid #bbb;
  box-sizing: border-box;
}

/* works hover */
.worksMenu .worksList a:hover::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.worksMenu .worksList a:hover img{
  opacity: 0.5;
  transform: scale(1.1);
  filter: blur(3px);
  transition: all .3s;
}
.worksMenu .worksList a .txt{
  width: 100%;
  display: none;
  position: relative;
  z-index: 10;
}
.worksMenu .worksList a:hover .txt{
  display: block;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.worksMenu .worksList a:hover .txt ul{
  width: 100%;
  display: inline-block;
}
.worksMenu .worksList a:hover .txt ul::before{
  content: '';
  display: block;
  margin-top: 15%;
}
.worksMenu .worksList a:hover .txt li{
  width: 100%;
  text-align: center;
  font: 500 1.2rem/1.5em var(--basicFont);
  margin-bottom: 0;
  color: #fff;
  text-shadow: 0 0 8px #000;
}


/* full */
.worksMenu .design .full{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 200;
}
.worksMenu .design .full .cont{
  width: 50%;
  height: 80%;
  overflow-y: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:20;
  animation:  infinite;
}
.worksMenu .design .full .cont img{
  width: 100%;
}
.worksMenu .design .full .cont::after{
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 30;
  background: url(./image/close.svg);
  display: block;
  cursor: pointer;
}


/* footer */
footer{
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}

/* 끝인사 */
footer .contact{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact .fCon{
  width: 40%;
}
.contact .fCon h2{
  font:500 5rem var(--boldFont);
}
.contact .fCon p{
  margin-left: 100px;
  font: 300 1.3rem/1.5em var(--basicFont);
}
.contact .fCon p:nth-of-type(1){
  margin-top: 50px;
}

/* 푸터 슬라이드 */
.contact .fSlideWrap{
  width:60%;
  position: relative;
  margin-top: 130px;
}
.fSlideWrap .fSlide{
  width: 100%;
}
.fSlide .swiper-slide{
  width: 100%;
}
.fSlide .swiper-slide p{
  display: none;
}
.fSlide .swiper-slide:hover p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  font: 800 1.2rem/100vh var(--basicFont);  
  animation: fade .3s;
}
.fSlide .swiper-slide:hover img{
  border-radius: 50%;
  transition: all .3s;
}

@keyframes fade{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.fSlide .swiper-slide img{
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
}



footer .fBottom{
  text-align: center;
  margin-top: 100px;
}
.fBottom p{
  font: 300 1.3rem/1.5em var(--basicFont);  
}
.fBottom p:nth-of-type(2){
  margin-top: 20px;
  font: 300 .9rem/1.2em var(--basicFont);
}