/* 헤더 */
header .h_wrap{
  width: calc(100% - 48px);
}


/* 메인 */
main{
  width: 100%;
}


/* home */
main .home{
  width: 100%;
  height: 100vh;
  background: url(./image/bg.jpg) no-repeat right/cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.home .hello{
  width: 40%;
  top: 65%;
  left: 100px;
  font: 100 3rem/1em var(--boldFont);
}
.tit2 p span{
  font: 100 5rem/1.5em var(--boldFont);
}
.home .mscl{
  width: 100px;
}


/* about */
.about section{
  width: calc(100% - 48px);
}
.about section .right{
  width: 100%;
  position: relative;
}
.right .typing{
  font: 500 2.5rem var(--boldFont);
  position: absolute;
  top: -48%;
  left: 37%;
}
.right .int {
  width: 100%;
  height: 80%;
  margin-top: 40px;
  position: relative;
  box-sizing: border-box;
}



/* skill */
main .skill{
  width: 100%;
  margin-top: 300px;
}
.skill section{
  width: calc(100% - 48px);
}
.skill section .chart{
  width: 20%;
  position: relative;
  z-index: 10;
}
.chart canvas{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  box-sizing: border-box;
}



/* works */
.works .cate{
  width: calc(100% - 48px);
}
.works .menu_list{
  width: calc(100% - 48px);
}



/* footer */
footer{
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}

/* 끝인사 */
footer .contact{
  width: calc(100% - 48px);
}
.contact .fCon{
  width: 100%;
}
.contact .fCon p{
  margin-left: 0;
}

/* 푸터 슬라이드 */
.contact .fSlideWrap{
  width:60%;
  position: relative;
  margin-top: 0px;
  margin-left: 40%;
}
.fSlideWrap .fSlide{
  width: 100%;
}
.fSlide .swiper-slide{
  width: 100%;
}
.fSlide .swiper-slide p{
  display: none;
}
.fSlide .swiper-slide:hover p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  font: 800 1.2rem/100vh var(--basicFont);  
  animation: fade .3s;
}
.fSlide .swiper-slide:hover img{
  border-radius: 50%;
  transition: all .3s;
}

@keyframes fade{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.fSlide .swiper-slide img{
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
}



footer .fBottom{
  text-align: center;
  margin-top: 100px;
}
.fBottom p{
  font: 300 1.3rem/1.5em var(--basicFont);  
}
.fBottom p:nth-of-type(2){
  margin-top: 20px;
  font: 300 .9rem/1.2em var(--basicFont);
}