/* 헤더 */
header .h_wrap{
  width: calc(100% - 48px);
}


/* 메인 */
main{
  width: 100%;
}


/* home */
.home .hello{
  width: 40%;
  top: 65%;
  left: 100px;
  font: 100 3rem/1em var(--boldFont);
}
.tit2 p span{
  font: 100 5rem/1.5em var(--boldFont);
}
.home .mscl{
  width: 100px;
}


/* about */
.about section{
  width: calc(100% - 48px);
}
.about section .right{
  width: 100%;
  position: relative;
}
.right .typing{
  font: 500 2.5rem var(--boldFont);
  position: absolute;
  top: -48%;
  left: 37%;
}
.right .int {
  width: 100%;
  height: 80%;
  margin-top: 40px;
  position: relative;
  box-sizing: border-box;
}



/* skill */
main .skill{
  width: 100%;
  margin-top: 300px;
}
.skill section{
  width: calc(100% - 48px);
}
.skill section .chart{
  width: 20%;
  position: relative;
  z-index: 10;
}
.chart canvas{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  box-sizing: border-box;
}



/* works */
.works .cate{
  width: calc(100% - 48px);
}
.cate a{
  display: block;
  margin-right: 50px;
  font: 700 1.3rem/3em var(--basicFont);
}
.cate a.active{
  font: 900 1.5rem/2.5em var(--basicFont);
  letter-spacing: 6px;
  transition: all .3s;
}
.works .menu_list{
  width: calc(100% - 48px);
}
.menu_list .worksMenu{
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
  justify-content: space-between;
}
.worksMenu .worksList{
  width: 32%;
  margin-bottom: 20px;
  overflow: hidden;
}
.worksMenu .worksList a{
  width: 100%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 20;
}
.worksMenu .worksList a img{
  width: 100%;
  object-fit: cover;
  border: 1px solid #bbb;
  box-sizing: border-box;
}

/* works hover */
.worksMenu .worksList a:hover::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.worksMenu .worksList a:hover img{
  opacity: 0.5;
  transform: scale(1.1);
  filter: blur(3px);
  transition: all .3s;
}
.worksMenu .worksList a .txt{
  width: 100%;
  display: none;
  position: relative;
  z-index: 10;
}
.worksMenu .worksList a:hover .txt{
  display: block;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.worksMenu .worksList a:hover .txt ul{
  width: 100%;
  display: inline-block;
}
.worksMenu .worksList a:hover .txt ul::before{
  content: '';
  display: block;
  margin-top: 15%;
}
.worksMenu .worksList a:hover .txt li{
  width: 100%;
  text-align: center;
  font: 500 1.2rem/1.5em var(--basicFont);
  margin-bottom: 0;
  color: #fff;
  text-shadow: 0 0 8px #000;
}


/* full */
.worksMenu .design .full{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 200;
}
.worksMenu .design .full .cont{
  width: 50%;
  height: 80%;
  overflow-y: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:20;
  animation:  infinite;
}
.worksMenu .design .full .cont img{
  width: 100%;
}
.worksMenu .design .full .cont::after{
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 30;
  background: url(./image/close.svg);
  display: block;
  cursor: pointer;
}

